openapi: 3.0.3
info:
  title: Enterprise Productivity Monitoring API
  description: |
    Comprehensive API for enterprise employee productivity monitoring system.
    
    ## Features
    - Role-based access control (Employee, Manager, Admin, Super Admin)
    - GDPR compliant data handling
    - End-to-end encryption
    - Real-time activity tracking
    - AI-powered productivity insights
    - Department-level data segregation
    
    ## Authentication
    Uses JWT Bearer tokens with refresh token mechanism.
    
    ## Rate Limiting
    - 100 requests per 15 minutes per IP
    - Higher limits for authenticated users based on role
    
    ## Data Privacy
    All sensitive data is encrypted at rest and in transit.
    Users have full control over their data collection preferences.
  version: 1.0.0
  contact:
    name: Enterprise Productivity Team
    email: support@enterprise-productivity.com
  license:
    name: Proprietary
    url: https://enterprise-productivity.com/license

servers:
  - url: https://api.enterprise-productivity.com/v1
    description: Production server
  - url: https://staging-api.enterprise-productivity.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication Endpoints
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and return access/refresh tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: john.doe@company.com
                password:
                  type: string
                  format: password
                  example: SecurePassword123!
                deviceInfo:
                  type: object
                  properties:
                    platform:
                      type: string
                      example: windows
                    version:
                      type: string
                      example: 1.0.0
                    deviceId:
                      type: string
                      example: device-uuid
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      user:
                        $ref: '#/components/schemas/User'
                      accessToken:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                      refreshToken:
                        type: string
                        example: refresh-token-uuid
                      expiresIn:
                        type: integer
                        example: 3600
        '401':
          $ref: '#/components/responses/Unauthorized'
        '423':
          description: Account locked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  example: refresh-token-uuid
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      accessToken:
                        type: string
                      expiresIn:
                        type: integer
                        example: 3600
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Logged out successfully

  # Activity Monitoring Endpoints
  /activities:
    post:
      tags: [Activity Monitoring]
      summary: Submit activity data
      description: Submit user activity data for processing and storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivitySubmission'
      responses:
        '201':
          description: Activity submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      timestamp:
                        type: string
                        format: date-time
                      processed:
                        type: boolean
                        example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

    get:
      tags: [Activity Monitoring]
      summary: Get user activities
      description: Retrieve activity data based on user role and permissions
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          example: 2024-01-01
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          example: 2024-01-31
        - name: type
          in: query
          schema:
            type: string
            enum: [application, website, file, idle, meeting, break, system]
        - name: category
          in: query
          schema:
            type: string
            enum: [productive, neutral, distracting, personal, unknown]
        - name: targetUserId
          in: query
          description: User ID to retrieve data for (managers/admins only)
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Activities retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      activities:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActivitySession'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
                      scope:
                        type: string
                        enum: [self, team, department, all]

  /activities/screenshots:
    post:
      tags: [Activity Monitoring]
      summary: Upload screenshot
      description: Upload encrypted screenshot with metadata
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Screenshot image file
                sessionId:
                  type: string
                  format: uuid
                  description: Associated activity session ID
                privacyLevel:
                  type: string
                  enum: [public, standard, sensitive, confidential]
                  default: standard
                deviceInfo:
                  type: object
                  description: Device information metadata
      responses:
        '201':
          description: Screenshot uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      timestamp:
                        type: string
                        format: date-time
                      encrypted:
                        type: boolean
                        example: true
                      thumbnailUrl:
                        type: string
                        format: uri

  # Analytics Endpoints
  /analytics/productivity-score:
    get:
      tags: [Analytics]
      summary: Get productivity score
      description: Retrieve productivity score and metrics
      parameters:
        - name: targetUserId
          in: query
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
        - name: granularity
          in: query
          schema:
            type: string
            enum: [hourly, daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Productivity score retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/ProductivityScore'

  /analytics/insights:
    get:
      tags: [Analytics]
      summary: Get productivity insights
      description: Get AI-generated productivity insights and recommendations
      parameters:
        - name: targetUserId
          in: query
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d]
            default: 7d
      responses:
        '200':
          description: Insights retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      insights:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProductivityInsight'
                      trends:
                        $ref: '#/components/schemas/ProductivityTrend'
                      recommendations:
                        type: array
                        items:
                          type: string

  # User Management Endpoints
  /users/profile:
    get:
      tags: [User Management]
      summary: Get user profile
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/User'

    put:
      tags: [User Management]
      summary: Update user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                profileImageUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Profile updated successfully

  /users/preferences:
    put:
      tags: [User Management]
      summary: Update user preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '200':
          description: Preferences updated successfully

  /users/privacy-settings:
    put:
      tags: [User Management]
      summary: Update privacy settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacySettings'
      responses:
        '200':
          description: Privacy settings updated successfully

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [employee, manager, admin, superAdmin]
        status:
          type: string
          enum: [active, inactive, suspended, pending]
        departmentId:
          type: string
          format: uuid
        managerId:
          type: string
          format: uuid
        profileImageUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        privacySettings:
          $ref: '#/components/schemas/PrivacySettings'

    UserPreferences:
      type: object
      properties:
        theme:
          type: string
          enum: [light, dark, system]
          default: system
        language:
          type: string
          default: en
        timezone:
          type: string
          default: UTC
        enableNotifications:
          type: boolean
          default: true
        enableSounds:
          type: boolean
          default: true
        screenshotInterval:
          type: integer
          description: Screenshot interval in seconds
          default: 300
        enableLocationTracking:
          type: boolean
          default: false
        customSettings:
          type: object
          additionalProperties: true

    PrivacySettings:
      type: object
      properties:
        consentGiven:
          type: boolean
          default: false
        consentDate:
          type: string
          format: date-time
        allowScreenshots:
          type: boolean
          default: false
        allowLocationTracking:
          type: boolean
          default: false
        allowAppTracking:
          type: boolean
          default: false
        allowWebsiteTracking:
          type: boolean
          default: false
        allowIdleTracking:
          type: boolean
          default: false
        shareDataWithManager:
          type: boolean
          default: false
        shareDataWithHR:
          type: boolean
          default: false
        dataProcessingPurposes:
          type: array
          items:
            type: string
        dataRetentionUntil:
          type: string
          format: date-time

    ActivitySubmission:
      type: object
      required: [type, timestamp]
      properties:
        type:
          type: string
          enum: [application, website, file, idle, meeting, break, system]
        timestamp:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration in seconds
        applicationName:
          type: string
        windowTitle:
          type: string
        websiteUrl:
          type: string
          format: uri
        filePath:
          type: string
        isIdle:
          type: boolean
          default: false
        location:
          $ref: '#/components/schemas/Location'
        metadata:
          type: object
          additionalProperties: true

    ActivitySession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        deviceId:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration in seconds
        type:
          type: string
          enum: [application, website, file, idle, meeting, break, system]
        category:
          type: string
          enum: [productive, neutral, distracting, personal, unknown]
        title:
          type: string
        description:
          type: string
        applicationName:
          type: string
        websiteUrl:
          type: string
          format: uri
        filePath:
          type: string
        metadata:
          type: object
          additionalProperties: true
        isIdle:
          type: boolean
        location:
          $ref: '#/components/schemas/Location'
        productivityScore:
          type: number
          format: float
          minimum: 0
          maximum: 1

    Location:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        accuracy:
          type: number
          format: double
        address:
          type: string
        city:
          type: string
        country:
          type: string
        timestamp:
          type: string
          format: date-time

    ProductivityScore:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        date:
          type: string
          format: date
        overallScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
        categoryScores:
          type: object
          additionalProperties:
            type: number
            format: float
        timeDistribution:
          type: object
          additionalProperties:
            type: integer
            description: Duration in seconds
        insights:
          type: array
          items:
            $ref: '#/components/schemas/ProductivityInsight'
        trend:
          $ref: '#/components/schemas/ProductivityTrend'
        metadata:
          type: object
          additionalProperties: true

    ProductivityInsight:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [timeManagement, focusPattern, distractionAlert, productivityTip, behaviorChange, goalProgress, teamComparison, anomalyDetection]
        title:
          type: string
        description:
          type: string
        impact:
          type: number
          format: float
          minimum: -1
          maximum: 1
        recommendations:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
        generatedAt:
          type: string
          format: date-time

    ProductivityTrend:
      type: object
      properties:
        direction:
          type: string
          enum: [up, down, stable]
        changePercentage:
          type: number
          format: float
        period:
          type: integer
          description: Period in days
        dataPoints:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              value:
                type: number
                format: float
              metadata:
                type: object
                additionalProperties: true
        description:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
        code:
          type: string
        details:
          type: object
          additionalProperties: true

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            error: Invalid request parameters
            code: BAD_REQUEST

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            error: Authentication required
            code: UNAUTHORIZED

    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            error: Insufficient permissions
            code: FORBIDDEN

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            error: Resource not found
            code: NOT_FOUND

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            error: Internal server error
            code: INTERNAL_ERROR

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Activity Monitoring
    description: Activity data collection and retrieval
  - name: Analytics
    description: Productivity analytics and insights
  - name: User Management
    description: User profile and preferences management
  - name: Administration
    description: Administrative functions (admin/super admin only)